* {
  box-sizing: border-box;
}
body{ 
    background: #B8FFB8;
    margin: 0;
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main
{
    flex: 1;
}
/*index.html cards*/
.card { 
    width: 350px;
    height: 380PX;
    border: 3px solid black;
    border-radius: 10px;
    background:#F3D1C8;
    padding: 16px;
    margin: 16px;
}


/*index.html cards*/
.card-title {
    display:flex;
    justify-content: center;
}


/*contact.html cards*/
.card2 {
    width: 425px;
    height: 380px;
    border: 3px solid black;
    border-radius: 10px;
    background:#F3D1C8;
    padding: 16px;
    margin: 16px;
}

/*index.html & contact.html nav cards*/
nav{
    border: 2px solid purple;
 
    padding:10px;
    /*margin: 10px;*/
    background: lavenderblush;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
 
    
}

/*index.html 3 cards placement  */
.container {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
}

/*index.html & contact.html footer*/
footer
{
    border: 2px solid purple;
    padding: 0.5px;
    /*margin: 10px;*/
    background: lavenderblush;
     text-align: center;
    justify-content: center; 
}

/*contact.html card placement middle */
.contact
{
    display:flex;
    justify-content: center;
}


/*contact.html Contact Us */
.text
{
     display:flex;
    justify-content: center;
}


/*contact.html send button */
.button
{     
    width: 60px;
    height: 30px;
    border: 3px solid lavender;
    background: lavender;
}